<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Paytm Kodu</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" align="center">
		<div class="card" style="width: 400px" align="center">
			<img class="card-img-top" th:src="${code}" alt="QR Code" style="width: 100%" />
			<div class="card-body" align="center">
				<a th:href="@{'/readQR?qrImage=' + ${code}}" class="btn btn-primary">
					QR Kodu Oku
				</a>
			</div>
		</div>
		<p th:text="${content}" style="color: green;"></p>
	</div>
</body>
</html>