<!--
<div th:fragment="headerv2" th:with="data=${headerData}">
    <h1 th:text="${data.title}">Varsayılan</h1>
    <p>Merhaba, <span th:text="${data.user}">Kullanıcı</span></p>
</div>
-->

<!--
<div th:fragment="headerv2(title, message)">
    <h1 th:text="${title}"> - Varsayılan Başlık</h1>
    <p th:text="${message}"> - Varsayılan Mesaj</p>
</div>
-->

<div th:fragment="headerv2(data)">
    <h1 th:text="${data.title}"> - Varsayılan Başlıkdır!</h1>
    <p>Merhaba, <span th:text="${data.welcomeMessage}"> - Karşılama mesajıdır!</span></p>
</div>