<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gerçek Zamanlı Bildirimler</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
</head>
<body>

<h1>Gerçek Zamanlı Bildirimler</h1>

<div id="notifications"></div>
<input type="text" id="message" placeholder="Mesajını buraya gir.">
<button onclick="sendMessage()">Gönderiver Hacım</button>

<script>
    let stompClient = null;

    function connect() {
        console.log('connect metodu');

        const socket = new SockJS('http://localhost:8080/ws');  //websocket adresi ve socket nesnesi
        stompClient = Stomp.over(socket); // soket istemcisi

        stompClient.connect({}, function (frame) {
            console.log('Bağlandı: ' + frame);  // bağlantı başarılı loglama
            stompClient.subscribe('/topic/notifications', function (message) {
                showNotification(message.body);  // gelen mesajları ekrana bas
            });
        }, function (error) {
            console.error('WebSocket bağlantı hatası: ' + error);  // bağlantı başarısız loglama
        });
    }

  function sendMessage() {
        const message = document.getElementById('message').value;
        if (stompClient && stompClient.connected) {
            stompClient.send('/app/sendMessage', {}, message);
            console.log('Message gönderildi. Mesajınız:', message);
        } else {
            console.error('WebSocket bağlantısı kurulmadı.');
        }
  }

    function showNotification(message) {
        const notifications = document.getElementById('notifications');
        const notification = document.createElement('p');
        notification.textContent = message;
        notifications.appendChild(notification);
    }

    connect();
</script>
</body>
</html>